{% extends 'layout.html.twig' %}
{% block content %}
<h1>{{ edito | edito_element('titre') }}</h1>
<p>{{ edito | edito_element('contenu') }}</p>
<p>{{ edito | edito_element('contenu2') }}</p>
{% endblock %}
