{% extends 'layout.html.twig' %}
{% block content %}
    <form action="#" method="post">
        {{ form_widget(form.url, {attr: {placeholder: 'please enter a url'}}) }}
        {{ form_rest(form) }}
    </form>
{% endblock %}

{% block trace %}
{% if urlToCheck %}

<iframe id="ifr" src="{{ app.request.basePath }}/iframe?urlToCheck={{ urlToCheck }}"></iframe>
{% endif %}

{% endblock %}

