{% extends 'layout.html.twig' %}
{% block content %}
    <form action="#" method="post">
        {{ form_widget(form.url, {attr: {placeholder: 'please enter a url'}}) }}
        {{ form_rest(form) }}
    </form>
{% endblock %}

{% block trace %}
{% if trace %}
<pre {% if pass %}class="pass"{% endif %}>
{{ trace|raw }}
</pre>
{% endif %}
{% endblock %}
